doctype html 
html 
  head 

  body 
    form(action="/trackName" method="GET")
      label Please enter your name : 
      input(type="text" name="username")
      button(type="submit") Submit

    div(id="answer")  